@using Personal.Domain.Dto
@using Microsoft.AspNetCore.Hosting
@using niroj.website.Models
@model List<SettingDto>
@inject IWebHostEnvironment _environment
@using System.Linq
@{
    Layout = "_BackendLayout";
    ViewData["Title"] = "Settings";
    var settingOptions = SettingsModel.GetKeys();
}

<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Personal Information</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" action="/admin/settings/personal-info/save">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead class="bg-custom">
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int sn = 0; SettingDto setup = new SettingDto();
                            }
                            @foreach (var key in settingOptions)
                            {
                                string value = "";
                                <tr>
                                    @{
                                        setup = Model.Where(a => a.Key == key.Value).SingleOrDefault();
                                        if (setup != null)
                                        {
                                            value = setup.Value;
                                        }
                                    }

                                    <td><span> @key.Key </span><input type="hidden" name="datas[@sn].key" value="@key.Value.ToString()" /></td>
                                    <td><input type="text" name="datas[@sn].value" value="@value" class="form-control" required /></td>
                                </tr>

                                sn++;
                            }

                        </tbody>
                    </table>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary waves-effect w-md waves-light pull-right"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Save</button>
                    </div>


                </div>

            </form>

            <div class="clearfix"></div>
            <div class="panel-subheader">Resume Upload</div>
            <form method="post" action="/admin/settings/personal-info/upload-resume" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="table-responsive">
                    <div>
                        <div class="col-md-3">
                            <input type="file" class="form-control" name="Resume"/>
                        </div>
                        <div class="col-md-9">
                            @{
                                var webRootPath = _environment.WebRootPath;
                                var resumeFileExists = System.IO.File.Exists($@"{webRootPath}/attachments/Niroj_Dahal_Resume.pdf");
                                if (resumeFileExists)
                                {
                                    <a href="/attachment/resume">Download Resume</a>
                                }
                                else
                                {
                                    <span>Resume not uploaded yet.</span>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary waves-effect w-md waves-light pull-right"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Save</button>
                    </div>


                </div>

            </form>
        </div>
    </div>
</div>