@model GallerySaveModel
@{
    ViewData["Title"] = "Gallery";
    string actionName = Model.Id > 0 ? "edit" : "new";
    Layout = "_BackendLayout";
}
<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Image Upload</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" action="/admin/gallery/@actionName" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group row">
                            @Html.HiddenFor(a => a.Id)
                            <label class="col-lg-3 col-form-label">Title</label>

                            <div class="col-lg-9">
                                @Html.TextBoxFor(a => a.Title, new { placeholder = "Title", @Class = "form-control" })
                                @Html.ValidationMessageFor(a => a.Title, null, new { @Class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Description</label>

                            <div class="col-lg-9">
                                @Html.TextAreaFor(a => a.Description, new { placeholder = "Description", @Class = "form-control",rows=9 })
                                @Html.ValidationMessageFor(a => a.Description, null, new { @Class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-danger">
                                Note :Recommended image size for Banner Image : 1600 x 640
                            </label>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div id="preview-normal">
                            @{
                                string imgSrc = "";
                                if (!string.IsNullOrWhiteSpace(Model.ImageName))
                                {
                                    imgSrc = "/uploads/gallery-img/" + Model.ImageName;
                                }
                            }
                            <img class="preview" src="@imgSrc" />
                        </div>
                        <input class="file mt-5 " name="File" type="file" id="btn-image-preview" accept="image/x-png,image/gif,image/jpeg" />
                    </div>

                    <div class="col-sm-8">
                        <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><i class="fa fa-save"></i><strong>&nbsp;&nbsp;&nbsp;Save</strong></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
<script src="~/js/Admin/Gallery.js" asp-append-version="true"></script>
}