@using Personal.Domain.Enums;
@using Personal.Domain.Dto;
@using Westwind.AspNetCore.Markdown
@model ResumeIndexViewModel
@{
    var settings = Model.Settings;
}
<section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
        <h2 class="heading mb-3">Online Resume</h2>
        <a class="btn btn-primary" href="/attachment/resume" target="_blank"><i class="fas fa-file-pdf me-2"></i>Download PDF Version</a>


    </div><!--//container-->
</section>
<div class="container resume-container px-3 px-lg-5">
    <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

        <div class="resume-header">
            <div class="row align-items-center">
                <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                    <h2 class="resume-name mb-0 text-uppercase">@(settings.FirstOrDefault(a=>a.Key==AppSettingKeys.Name)?.Value)</h2>
                    <div class="resume-tagline mb-3 mb-md-0">@(settings.FirstOrDefault(a=>a.Key==AppSettingKeys.Position)?.Value)</div>
                </div><!--//resume-title-->
                <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg me-2 "></i><a class="resume-link" href="tel:#">@(settings.FirstOrDefault(a=>a.Key==AppSettingKeys.Phone)?.Value)</a></li>
                        <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg me-2"></i><a class="resume-link" href="mailto:#">@(settings.FirstOrDefault(a=>a.Key==AppSettingKeys.Email)?.Value)</a></li>
                        <li class="mb-2"><i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link" href="resume.html#">@(settings.FirstOrDefault(a=>a.Key==AppSettingKeys.Website)?.Value)</a></li>
                        <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i>@(settings.FirstOrDefault(a=>a.Key==AppSettingKeys.Location)?.Value)</li>
                    </ul>
                </div><!--//resume-contact-->
            </div><!--//row-->

        </div><!--//resume-header-->
        <hr>
        <div class="resume-intro py-3">
            <div class="row align-items-center">
                <div class="col-12 col-md-3 col-xl-2 text-center">
                    <img class="resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto" src="~/images/my-image.jpg" alt="image">
                </div>

                <div class="col text-start">
                    <p class="mb-0">@(settings.FirstOrDefault(a=>a.Key==AppSettingKeys.ResumeSummary)?.Value) </p>
                </div><!--//col-->
            </div>
        </div><!--//resume-intro-->
        <hr>
        <div class="resume-body">
            <div class="row">
                <div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">
                    <section class="work-section py-3">
                        <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>

                        @foreach (var experience in Model.Experiences)
                        {
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">@experience.Position</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">@experience.CompanyName | @experience.StartYear - @(experience.EndYear.HasValue? experience.EndYear: "Present")</div>

                                </div>
                                <div class="item-content">
                                    @(Markdown.ParseHtmlString(experience.RoleDescription))
                                </div>
                            </div>
                        }

                    </section>


                    <section class="project-section py-3">
                        <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
                        <div class="item mb-3">
                            <div class="item-heading row align-items-center mb-2">
                                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Crytal Bangshawali</h4>
                                <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Office Project</div>

                            </div>
                            <div class="item-content">
                                <p>Developed a project for Crystal Solution alone. Purpose of this software was to manage hierarchial data of generations of persons. Took full responsiblity of the project and completed it within the deadline to meet the client needs.</p>
                            </div>
                        </div><!--//item-->
                        
                        <div class="item mb-3">
                            <div class="item-heading row align-items-center mb-2">
                                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Crytal Cafe Solution</h4>
                                <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Office Project</div>

                            </div>
                            <div class="item-content">
                                <p>Added features and worked on improvement of existing system. Developed couple of modules and libraries for the system.</p>
                            </div>
                        </div><!--//item-->
                        <div class="item">
                            <div class="item-heading row align-items-center mb-2">
                                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">XmartCredit</h4>
                                <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Office Project</div>

                            </div>
                            <div class="item-content">
                                <p>A complete end-to-end Credit automation software used in banks and financial institutions. Worked as Senior developer for more than 2 years and is working as Team Lead of the project currently.</p>

                            </div>
                        </div><!--//item-->
                        <div class="item">
                            <div class="item-heading row align-items-center mb-2">
                                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Raindrop ERP </h4>
                                <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Office Project</div>

                            </div>
                            <div class="item-content">
                                <p>Mini- ERP targeting all kinds of mid to large level instituations. Developed the software working as Senior software developer at Raindrop Inc.</p>

                            </div>
                        </div><!--//item-->
                    </section><!--//project-section-->
                </div><!--//resume-main-->
                <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                    <section class="skills-section py-3">
                        <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>

                        @foreach (var category in Model.SkillCategories)
                        {
                            <div class="item">
                                <h4 class="item-title">@category.Name</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    @foreach (var skill in category.Skills)
                                    {
                                        @:
                                        <li class="mb-2">@skill</li>
                                    }
                                </ul>
                            </div>
                        }
                    </section>
                    <section class="education-section py-3">
                        <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
                        <ul class="list-unstyled resume-education-list">
                            <li class="mb-3">
                                <div class="resume-degree font-weight-bold">BScIT</div>
                                <div class="resume-degree-org text-muted">Sikkim Manipal University</div>
                                <div class="resume-degree-time text-muted">2014 - 2017</div>
                            </li>
                            <li>
                                <div class="resume-degree font-weight-bold">Intermediate In Science</div>
                                <div class="resume-degree-org text-muted">HSEB</div>
                                <div class="resume-degree-time text-muted">2011 - 2013</div>
                            </li>
                        </ul>
                    </section><!--//education-section-->
                   
                    <section class="skills-section py-3">
                        <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
                        <ul class="list-unstyled resume-lang-list">
                            <li class="mb-2">English </li>
                            <li class="mb-2">Nepali <span class="text-muted">(Native)</span></li>
                            <li>Hindi </li>
                        </ul>
                    </section>
                    <section class="skills-section py-3">
                        <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
                        <ul class="list-unstyled resume-interests-list mb-0">
                            <li class="mb-2">Football</li>
                            <li class="mb-2">Cricket</li>
                            <li class="mb-2">Reading</li>
                            <li>Travelling</li>
                        </ul>
                    </section>

                </aside>
            </div>
        </div>
        <hr>
        <div class="resume-footer text-center">
            <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="#"><i class="fab fa-github-square fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">@(settings.FirstOrDefault(a=>a.Key==AppSettingKeys.GithubLink)?.Value)</span></a></li>
                <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="#"><i class="fab fa-linkedin fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">@(settings.FirstOrDefault(a=>a.Key==AppSettingKeys.LinkedInLink)?.Value)</span></a></li>
                <li class="list-inline-item mb-lg-0 me-lg-3"><a class="resume-link" href="#"><i class="fab fa-twitter-square fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">@(settings.FirstOrDefault(a=>a.Key==AppSettingKeys.TwitterLink)?.Value)</span></a></li>
            </ul>
        </div><!--//resume-footer-->
    </article>

</div><!--//container-->
