@using Newtonsoft.Json
@{
    bool isAlertPresent = false;
    var userInfoJson = "";
    if (TempData["message"] != null)
    {
        userInfoJson = TempData["message"].ToString();
        isAlertPresent = true;
    }
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"] | Niroj Dahal</title>
    <link href="~/backend/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/backend/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="~/backend/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/backend/css/style.css" rel="stylesheet" />

    <!-- Gritter -->
    <link href="~/backend/js/plugins/gritter/jquery.gritter.css" rel="stylesheet" />
    <link href="~/backend/css/animate.css" rel="stylesheet" />

    <link href="~/backend/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/backend/css/site.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("styles", false)
    <script src="https://cdn.ckeditor.com/4.16.0/standard-all/ckeditor.js"></script>
</head>

<body>
    <input type="hidden" class="isAlertPresent" value="@isAlertPresent.ToString()">
    <div id="wrapper">
        @await Component.InvokeAsync("SidebarView")
        <div id="page-wrapper" class="gray-bg dashbard-1">
            @await Component.InvokeAsync("NavbarView")
            @RenderBody()
            <div class="footer">
                <div>
                    <strong>Copyright: </strong> Niroj Dahal &copy; 2021
                </div>
            </div>
        </div>


    </div>


    <div class="modal inmodal fade" id="modal-container" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="padding:0px 10px;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Mainly scripts -->
    <script src="~/backend/js/jquery-2.1.1.js"></script>
    <script src="~/backend/js/popper.min.js"></script>
    <script src="~/backend/js/bootstrap.js"></script>

    <script src="~/backend/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/backend/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>


    <!-- Custom and plugin javascript -->
    <script src="~/backend/js/inspinia.js"></script>
    <script src="~/backend/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/backend/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="~/backend/js/plugins/gritter/jquery.gritter.min.js"></script>
    <script src="~/backend/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/backend/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/backend/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/notify.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function(){

        if($('.isAlertPresent').val()=='True'){

        let alertDetail=  JSON.parse('@Html.Raw(userInfoJson)');

        ShowToastMessage(alertDetail.message_type,alertDetail.message);
        }
        });



    </script>

    @RenderSection("scripts", false)
</body>
</html>
